
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to the Admin Homepage</h2>
<hr />
<div>
    <div class="col-md-5">
        You'll be able to create new Lessons.
        <form action="~/LessonMaker">
            <input class="form-control" type="submit" value="Create Lesson" />
        </form>        
        <br />
    </div>
    <div class="col-md-5">
        You'll be able to create new Modules.
        <form action="~/ModuleMaker">
            <input class="form-control" type="submit" value="Create Lesson" />
        </form> 
        <br />
    </div>
    <div class="col-md-5">
        You'll be able to create new Quizzes.
        <form action="~/QuizMaker">
            <input class="form-control" type="submit" value="Create Lesson" />
        </form> 
        <br />
    </div>
    <div class="col-md-5">
        You'll be able to create view Students.
        <form action="~/StudentGrades">
            <input class="form-control" type="submit" value="Create Lesson" />
        </form> 
    </div>
  
</div>

