
@{
    ViewData["Title"] = "Index";
}

<h2>Welcome to the Admin Homepage</h2>

<div>
    <div>
        You'll be able to create new Lessons.
        <button>Create Lesson</button>
        <br />
    </div>
    <div>
        You'll be able to create new Modules.
        <button>Create Module</button>
        <br />
    </div>
    <div>
        You'll be able to create new Quizzes.
        <button>Create Quiz</button>
        <br />
    </div>
    <div>
        You'll be able to create view Students.
        <button>View Students</button>
    </div>
    @*You'll be able to create new Modules.
    <button>Create Module</button>
    You'll be able to create new Quizzes.
    <button>Create Quiz</button>
    You'll be able to view students
    <button>View Students</button>*@
</div>

