
@{
    ViewData["Title"] = "LessonMaker";
}

<h2>LessonMaker</h2>

<div>
    <form>
        <input type="text" style="width: 300px; margin-right: auto" placeholder="Enter Title Name" name="lessontitle"/>
        <input type="submit" value="Submit" />
        <br/>
        <br/>
    </form>
    <textarea style="width: 800px; height: 400px" name="lessonText" >
    Input Lesson Text Here, but make sure to delete me!!!!!!!
    </textarea>
    <br/>
</div>

