@using WebApplication3.Models.ModuleModels;
@using WebApplication3.ViewModels.AdminViewModels;
@model LessonMakerViewModel
@{
    ViewData["Title"] = "LessonMaker";
}

<h2>LessonMaker</h2>

<div>
    <form asp-controller="Admin" asp-action="LessonMaker" method="post" class="form-horizontal">
        <a><strong>Module Title:    </strong></a><input asp-for="ModuleTitle" type="text" style="width: 300px; margin-right: auto" placeholder="Enter Title of connected Module." name="ModuleTitle" /><br/> <br/>
        <a><strong>Lesson Name:     </strong></a><input asp-for="LessonTitle" type="text" style="width: 300px; margin-right: auto" placeholder="Enter Title of Lesson" name="LessonTitle" />
        <br />
        <br />
        <input asp-for="LessonText" style="width: 800px; height: 400px" name="LessonText" placeholder="Input Lesson Text Here, but make sure to delete me!!!!!!"/>
        <br />
        <br />
        <input type="submit" class="form-control-static" value="Create Lesson" />
        <br/>
        <br/>
    </form>
</div>

