
@{
    ViewData["Title"] = "QuizMaker";
}

<h2>QuizMaker</h2>
<br />
<div>
    <form>
        <div class="row">
            <div class="col-md-4">
                Question 1:<br>
                <input type="text" style="width: 430px" placeholder="Enter Question 1" name="question1" /><br />
                Question 2:<br />
                <input type="text" style="width: 430px" placeholder="Enter Question 2" name="question2" /><br />
                Question 3:<br>
                <input type="text" style="width: 430px" placeholder="Enter Question 3" name="question3" /><br />
                Question 4:<br />
                <input type="text" style="width: 430px" placeholder="Enter Question 4" name="question4" /><br />
                Question 5:<br>
                <input type="text" style="width: 430px" placeholder="Enter Question 5" name="question5" /><br />
                Question 6 (multiple choice):<br />
                <input type="text" style="width: 430px" placeholder="Enter Question 6" /><br />
                <input type="radio" name="choice6" />A<br />
                <input type="radio" name="choice6" />B<br />
                <input type="radio" name="choice6" />C<br />
                <input type="radio" name="choice6" />D<br />
                <br />
                <br />
            </div>
            <div class="col-md-4">
                Answer 1:<br>
                <input type="text" style="width: 430px" placeholder="Enter Answer 1" name="answer1" /><br />
                Answer 2:<br />
                <input type="text" style="width: 430px" placeholder="Enter Answer 2" name="answer2" /><br />
                Answer 3:<br>
                <input type="text" style="width: 430px" placeholder="Enter Answer 3" name="answer3" /><br />
                Answer 4:<br />
                <input type="text" style="width: 430px" placeholder="Enter Answer 4" name="answer4" /><br />
                Answer 5:<br>
                <input type="text" style="width: 430px" placeholder="Enter Answer 5" name="answer5" /><br />
                Answer 6:<br />
                <input type="text" style="width: 430px" placeholder="Enter Answer 6" name="answer6" /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
</div>

