@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    3211 Providence Dr<br />
    Anchorage, Alaska 99508<br />
</address>

<address>
    <strong>Developer: </strong><a>Mike Miller</a> <br />
    <strong>Email: </strong><a href="mailto:mrmiller10@alaska.edu">mrmiller10@alaska.edu</a><br />
    <strong>Developer: </strong><a>Tevin Gladden </a><br/>
    <strong>Email: </strong><a href="mailto:tjgladden@alaska.edu">tjgladden@alaska.edu</a><br />
</address>
