<div class="col-md-12 footer" style="margin-left:auto; background-color: #fec424">
    <div class="col-md-1"><a href="#">Ipsum</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Help</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">About</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Lorem</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Help</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">About</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Ipsum</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Help</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">About</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Lorem</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">Help</a></div>
    <div class="col-md-1"><a href="#" id="Footer-text">About</a></div>

    <hr />
    <footer>
        <p>&copy; 2017 - cs101</p>
    </footer>
</div>
