<div class="col-md-9" id="lesson">
    <div id="content-header">
        <h1 id="module-title">Module: Lorem Ipsum</h1>
        <h2 id="lesson-Title">Lesson Name: Ip of Sum Lorem </h2>
        <hr class="divider" />
    </div>
    <div class="col-5" id="content-body">
        <div class="container-fluid">
            <!-- <div class="row">
            <div class="col-6">-->
            <!--<iframe  width="560" height="315" src="https://www.youtube.com/embed/5HN5MjZPfbI" frameborder="0" allowfullscreen></iframe>-->
            <iframe width="400" height="225" src="https://www.youtube.com/embed/KS76EghdCcY" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>