body
{
    margin-right: 30%;
    margin-left: 10%;
}
#headerbar {   
    background-color: #006E57;
}

#headerbar a
{
    color : black;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.subsection
{
    margin:2em;
    margin-bottom: 5px;
    text-align:center;
}

.subsection sub {
    display:block;
    
}
