
@{
    ViewData["Title"] = "Introduction";
}

<div>
    <h1>
         @ViewData["Title"]
    </h1>
</div>
<div>
    The base two number system is the foundation of all modern computers. No matter how much we put on top of it and hide it, our physical machines are processing patterns of high and low signals. The smallest possible piece of data we can represent is a bit. A 1 or a 0; A true, or a false; on or off. When we use the base two number system, we are using binary.
</div>

<br />
<div>s
    Next lesson >>
</div>